#ignore gedit backup files
*~

#ignore LaTex intermediary files
*.tex.backup
*.tex.kate-swp
*.aux
*.log
*.bbl
*.blg
*.toc

#ignore Python compiled files
*.pyc
*.pyo

#ignore Java compiled files
*.class

#ignore c++ compiled files
cpp/build/
*.o
*.out
cpp/sleep
cpp/perf

#ignore downloaded APIs
cpp/sphero-linux-api
python/sphero-ros
doc/

#ignore sphero copied header from c++ API
cpp/sphero

#ignore the explanation from Gauvain Devillez
cpp/compileExplain.sh

#ignore the plantUML software
uml/plantuml.jar
